*{  
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    margin: 0;
}
/* top content */
.top-content{
    display: flex;
    background-color: rgb(233, 233, 233);
    width: 100%;
    height: 35px;
    padding-left: 120px;
    align-items: center;
}
.top-content img{
    margin-left: 20px;
    height: 25px;
    width: 60   px;
}
/* top content ends */

/* header section starts */
.header{
    display: flex;
    height: 60px;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:white;
    align-items: center;
}
.hp{
    padding-left: 130px;
}
.hp img{
    width: 50px;
    margin: 5px;
}
.navs a{
    font-size:22px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(112, 105, 105, 0.962);
    font-weight: 480;
    margin-left: 10px;

}

.search-continer{
    display: flex;
    border: 1px solid #949292;
    border-radius: o;
    background-color: #ffffff;
    padding: 5px;
    margin-left: 300px;
    height: 45px;
    align-items: center;

}
.search-continer #inp {
    padding-inline-end: 200px;
    border: none;
}
.search-continer img{
    width: 25px;
    margin-inline-start: 20px;
    margin-inline-end: 10px;
}

.search-continer button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px;
}

#cart {
    height: 30px;
    width: 30px;
}

 #buttonn {
    border-radius: 0px;
    font-size: medium;
    font-weight: bold;
    border: none;
    padding-inline:20px ;
    padding-block: 8px;
    background-color: black;
    color: white;
    transition: 0.3s;
}

#buttonn:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* header section ends */

/* first section starts */
.first-section{
    background-image: url(./assets/images/4th-july-desktop_2x.jpg);
    width: 100%;
    height:85vh;
    background-size: cover;
    background-position: center;
}

.heading{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.244);
    color: #ffffff;
    position: absolute;
    margin-top: 50vh;
    height: 130px;
    padding-left: 20vh;
    font-size: 14vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid white;

}
.par{
    width: 100%;
    color: #ffffff;
    position: absolute;
    margin-top: 65vh;
    height: 100px;
    padding-left: 20vh;
    font-size: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* first section ends */


/* second section starts */
#header{
    height: 20vh;
    background-color:white;
    font-size: 4vh;
    font-weight:lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
    padding-left: 20vh;
    border-bottom:1px solid #000000;
}

#second-header{
    font-size: 4vh;
    font-weight:lighter;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 20vh;

}

.products{
    margin-top: 5vh;
    margin-bottom: 10vh;
    width: 170vh;
    height: 57vh;
    background-color:white;
    margin-left: 20vh;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .product-images{
    background-color:whitesmoke;
    width: 30%;
    height: 100%;
    margin:0;
    border:1.5px solid black;
    position: relative;
    transition:0.3s ;

}
.product-images:hover{
    transform: scale(1.1);
}
#img1{
    background-image: url(./assets/images/printers-main.jpg);
    background-size: contain;
}
#img2{
    background-image: url(./assets/images/pcs-main.jpg);
    background-size: contain;
}
#img3{
    background-image: url(./assets/images/webcams-main.jpg);
    background-size: contain;
}



.name{
   background-color: #000000;
   color: white;
   width: 100%;
   font-size: larger;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-top: 48vh;
   height: 65px;
   padding-left: 20px;
   padding-top:20px;

}

/* print-pals div */
#printpals{
    background-image: url(./assets/images/printpals.png);
    background-size: cover;
    width:172vh;
    height: 25vh;
    margin-left: 138px;
    margin-bottom: 10vh;

}
.doc{
    margin-left: 40px;
    position: absolute;
    font-size:larger;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.doc p{
    font-size:medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
 
#arrow-button img{ 
   margin-top: 5px;
   position: absolute;
   height: 25px;
   width: 25px;
   margin-left: 10px;
}
.doc a{
    padding-left: 40px;
    color: black;
    text-decoration: none;

}



/* final section satrts */
.final{
    background-image: url(./assets/images/Group\ 7369@2x.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;
    color:white;
    align-items: center;

}
#main-heading{
    color: white;
    height: 20vh;
    padding-left: 22vh;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    align-content: center;
  
}
#sub-heading {
    width: 100%;
    height: 10vh;
    font-size:30px;
    font-weight: lighter;
    padding-left: 22vh;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;


}
.icons{
    margin-top: 40vh;
    width:40vh;
    height: 5vh;
    margin-left: 22vh;
    display: flex;
    justify-content: space-between;

}
.icons img{
    height: 25px;
}
/* final section ends */

/* here footer section stars */
footer{
    background-color:black ;
    height: 76vh;
    border-top: 1px solid white ;
}
.sub-footer{
    width: 170vh;
    height: 100%;
    margin-left: 18vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: small;
}
.footer-header{
     width: 100%;
     color: white;
     background-color: #000000;
     height: 50px;
     padding-top: 10px;
     align-content: center;
     font-weight: lighter;
     border-bottom:1px solid white ;
}
.footer-header img{
    margin-left: 2px;
    height: 10px;
    width: 12px;
}
.footer-container{
    height: 43vh;
    width:100%;
    display: flex;
    position: relative;
    background-color: #000000;
    border-bottom:1px solid white ;
}

.list{
    margin-top: 20px;
    width: 20%;
    height:100%;
    font-size: small;
    color: white;
}
.list a{
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.footer-icons{
    width:10vh;
    height: 5vh;
    display: flex;

}
.footer-icons img{
    height: 20px;
    margin-right: 10px;
}

.bottom-footer{
    margin-top: 15px;
    width: 100%;
    background-color: #000000;
    height:12vh;
    font-size:small ;
    color: white;
    font-weight: lighter;
}
.bottom-footer img{
    height: 10px;

}

.bottom-footer a{
     color: white;
     text-decoration: none;
     margin-right: 2px;
}

/* footer ends */
